---
import type { Article } from "@interfaces/newsapi"
import Layout from "@layouts/Layout.astro"
import newsapi from "@lib/newsapi"

const articles = await newsapi<Article[]>({
  endpoint: "top-headlines",
  country: "us",
  category: "general",
  wrappedByKey: "articles"
})
---

<Layout>
  <section class="flex flex-col mt-10">
    {
      articles.map((article) => (
        <a
          href={`/blog/${article.publishedAt}`}
          class="hover:underline truncate py-2">
          {article.title}
        </a>
      ))
    }
  </section>
</Layout>
